src/main/mule/card-validation.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">

    <!-- ✅ FIXED: Added validation to prevent ArrayIndexOutOfBoundsException -->
    <flow name="validateCardFlow">
        <set-variable variableName="cardParts" value="#[payload.cardNumber splitBy('-')]"/>
        
        <!-- Check if cardParts array has exactly 4 elements before logging -->
        <choice>
            <when expression="#[vars.cardParts.size() == 4]">
                <logger level="INFO" message="Card part 1: #[vars.cardParts[0]]"/>
                <logger level="INFO" message="Card part 2: #[vars.cardParts[1]]"/>
                <logger level="INFO" message="Card part 3: #[vars.cardParts[2]]"/>
                <logger level="INFO" message="Card part 4: #[vars.cardParts[3]]"/>
            </when>
            <otherwise>
                <logger level="ERROR" message="Invalid card number format: #[payload.cardNumber]"/>
                <!-- Optionally, you could throw an exception or handle the error as needed -->
            </otherwise>
        </choice>
    </flow>
</mule>