src/main/mule/payment-processing.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">

    <!-- ❌ BUG: NullPointerException - customer object can be null -->
    <flow name="processPaymentFlow">
        <http:listener path="/api/payments" method="POST"/>
        
        <db:select config-ref="Database_Config">
            <db:sql>SELECT * FROM customers WHERE id = :customerId</db:sql>
            <db:input-parameters>
                <![CDATA[#[{customerId: payload.customerId}]]]>
            </db:input-parameters>
        </db:select>
        
        <!-- BUG: Accessing customer.name without null check -->
        <logger level="INFO" message="Processing payment for customer: #[payload[0].name]"/>
        
        <ee:transform>
            <ee:message>
                <ee:set-payload resource="dataweave/transform-payment-request.dwl"/>
            </ee:message>
        </ee:transform>
    </flow>
</mule>