src/main/mule/payment-processing.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">

    <!-- Fix: guard against empty DB results before dereferencing payload[0].name -->
    <flow name="processPaymentFlow">
        <http:listener path="/api/payments" method="POST"/>

        <db:select config-ref="Database_Config">
            <db:sql>SELECT * FROM customers WHERE id = :customerId</db:sql>
            <db:input-parameters>
                <![CDATA[#[{customerId: payload.customerId}]]]>
            </db:input-parameters>
        </db:select>

        <!-- Fix: only log the customer name when a matching record exists -->
        <choice>
            <when expression="#[payload != null and !isEmpty(payload) and payload[0] != null]">
                <logger level="INFO" message="Processing payment for customer: #[payload[0].name default 'Unknown']"/>
            </when>
            <otherwise>
                <!-- Fix: avoid NullPointerException and log a safe fallback when no customer is found -->
                <logger level="WARN" message="No customer record found for payment request. Proceeding without customer name."/>
            </otherwise>
        </choice>

        <ee:transform>
            <ee:message>
                <ee:set-payload resource="dataweave/transform-payment-request.dwl"/>
            </ee:message>
        </ee:transform>
    </flow>
</mule>